:root {
    --theme-color: #0077d6;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0A0B0D;
        color: #E8EDF8;
    }
    .topbar {
        border-bottom: 1px solid #111318;
    }

    .card {
        background-color: #111318;
    }

    footer {
        background-color: #111318;
        border-top: 1px solid #1A1D26;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #eee;
        color: #2f2f2f;
    }

    .topbar {
        border-bottom: 1px solid #ddd;
    }

    .card {
        background-color: #fff;
    }

    footer {
        background-color: white;
        border-top: 1px solid #ddd;
    }
}

html {
    scroll-behavior: smooth;
}

.card .bigtext {
    font-size: 25px;
    font-weight: bold;
}

footer {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.text-container {
    position: absolute;
    left: 50px;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: calc(100vw - 120px);
    max-width: 1024px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px;
}

.hero img {
    position: absolute;
    right: 50px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 100vw;
    max-width: 1024px;
    position: relative;
}

.topbar {
    width: 100vw;
    height: 55px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 20px;
}

a {
    cursor: pointer;
    transition: .3s ease;
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: var(--theme-color);
}

.top-endpoint {
    width: 100%;
    max-width: 1024px;
    background-color: transparent;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 35px;
    width: 35px;
    background: url("./assets/icon.svg") no-repeat center;
    background-size: cover;
    position: absolute;
    left:20px;
}

body {
    font-family: 'Calibri', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    src: url("/assets/calibri-regular.ttf");
    font-family: 'Calibri';
}
